<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= image_tag article.img.url(:thumb) %></td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>